*{
  margin: 0;
  padding: 0;
}

.box:hover{
  cursor: pointer;
}

.box-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 650px;
  margin-top: 5em;
  clip-path: circle(325px at center);
  overflow: hidden;
}

.logo-container{
  pointer-events: none;
  position: fixed;
  margin-top: 325px;
  left: 46%; 
  transform: translate(-50%, -50%);
  z-index: 0;
  overflow: hidden;
}


#steam-logo{
  height: 400px;
}

#steam-logo:hover{
  z-index: 10000;
  opacity: 50%;
}
