/* Consolidated Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Varela+Round&display=swap');

/* Reset and Basic Styles */
html, body, * {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

/* Common Styles */
.box:hover {
  cursor: pointer;
}

/* Game Container */
.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 650px;
  margin-top: 10vh;
  clip-path: circle(325px at center);
  z-index: 1;
}

/* Logo */
.logo-container {
  pointer-events: none;
  position: absolute;
  margin-top: 325px;
  left: 46%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

#steam-logo {
  height: 450px;
  opacity: 0.5;
}

/* Glowing Effect */
.glow {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 55px 10px #0B73EA;
  height: 650px;
  width: 650px;
  border-radius: 100%;
  position: absolute;
  margin-top: 325px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
  animation: glowing 2s infinite alternate ease-in-out;
  overflow: hidden;
}

@keyframes glowing {
  0% { box-shadow: 0px 0px 35px 5px #0b73ea81; }
  100% { box-shadow: 0px 0px 90px 10px #0B73EA; }
}

.all-games{
  color: rgba(117, 117, 117, 0.534);
  margin-top: 3em;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

.game-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Game Info Container */
.game-info-container {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: rgb(24, 24, 24);
  height: 700px;
  width: 700px;
  border-radius: 100%;
  position: absolute;
  margin-top: 325px;
  padding-top: 5em;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Close Button */
.close-button {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  color: rgb(112, 112, 112);
  border-radius: 100%;
  height: 30px;
  width: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: 0px 0px 10px 2px #0B73EA;
  animation: glowing02 2s infinite alternate ease-in-out;
}

.close-button:hover {
  color: white;
  background-color: rgba(51, 51, 51, 0.562);
}

@keyframes glowing02 {
  0% { box-shadow: 0px 0px 10px 2px #0b73ea81; }
  100% { box-shadow: 0px 0px 15px 4px #0B73EA; }
}

/* Game Title */
.game-title {
  text-align: center;
  width: 15em;
  font-size: 2em;
  margin-bottom: 1em;
}

/* Twitch Header */
.twitch-header {
  font-size: 1.8em;
  margin: 0.5em 0 1em 0;
}

/* Thumbnail Styles */
.thumbnail-container {
  display: flex;
  gap: 1em;
}

.img-01 {
  background-color: rgb(44, 44, 44);
  height: 90px;
  width: 150px;
  margin-bottom: 5em;
  cursor: pointer;
  box-shadow: 0px 0px 3px 0.5px #0B73EA;
}

/* Hovered Content */
.hovered-content {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(44, 44, 44);
  box-shadow: 0px 0px 3px 0.5px #0B73EA;
  border-radius: 50px;
  min-height: fit-content;
  min-width: fit-content;
  position: absolute;
  padding: 1em 1.5em 0 1.5em;
  transform: translate(-50%, -30%);
  margin-top: 50px;
  z-index: 2;
  overflow: hidden;
}

/* Link List */
.link-list {
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
}

/* Thumbnail Image */
.thumbnail-image {
  height: 80px;
  border-radius: 10px;
  transition: 200ms;
}

.thumbnail-image:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 2px #0B73EA;
}

.loading-screen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141414;
  opacity: 1;
  transition: all 2s ease-in-out;
  z-index: 1000;
}

.loading-screen::after{
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #4b4b4b;
  border-top-color: #0B73EA;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

.loading-screen.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

@keyframes loading {
  from { transform: rotate(0turn)}
  to { transform: rotate(1turn)}
}